@media screen and (max-width : 700px) {
    .row.nextStep.heroNextStep {
        display: none;
    }
}

@media screen and (max-width : 1400px) {
    #searchFoot {
        right: 0px;
    }
    .noSideMargin {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .row.Title{
        top:20%;
    }
}

@media screen and (max-width : 1600px) {
    .row.AoShome.noSideMargin {
        margin-top: -20px;
    }
}

@media screen and (max-width: 992px) and (min-width: 601px) {
    #leftMarker {
        text-align: left;
    }
    #rightMarker {
        text-align: right;
    }
}
@media screen and (max-width: 600px) {
    #rightMarker {
        position: relative;
        left: 10%;
    }
    #leftMarker {
        position: relative;
        right: 10%;
    }
}